<div class="container-fluid">
  <div class = "content">
    <%= form_with(model: @post) do |f| %>
      <h3>
        編集する
      </h3>
      <div class="field">
        <% if @post.photo.attached? %>
          <div class="thumbnail">
            <%= image_tag url_for(@post.photo)%>
          </div>
        <% end %>
        <br>
        <br>
        <%= f.file_field :file %>
        <%= f.hidden_field :image_cache %>
      </div>
      <textarea cols="30" name="content" placeholder="変更したい投稿内容を入力" rows="10"><%= @post.content %></textarea>
      <%= f.submit '変更', id: 'submit-btn' %>
    <% end %>
  </div>
</div>